<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->

  <link rel="stylesheet" type="gtext/css" href="/css/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="/lib/gritter/css/jquery.gritter.css" />
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">
  <link href="/css/to-do.css" rel="stylesheet">
  <script src="/lib/chart-master/Chart.js"></script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="/cihazlar" class="logo"><b>Aktif<span>Smart</span></b></a>
      <!--logo end-->
   
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Kullan覺c覺</h5>
          
          <li class="sub-menu">
            <a href="profil.html">
              <i class="fa fa-user"></i>
              <span>Profil</span>
              </a>
  
          </li>       
              
          <li class="sub-menu">
            <a href="/kullanicilar">
              <i class="fa fa-users"></i>
              <span>Kullan覺c覺lar</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/cihazlar">
              <i class="fa fa-desktop"></i>
              <span>Cihazlar</span>
              </a>
            
          </li>
       
          <li class="sub-menu">
            <a href="/alarmdetay">
              <i class="fa fa-bell-o"></i>
              <span>Alarmlar</span>
              </a>
          </li>
     
         
          <li class="sub-menu">
            <a href="/ayarlar">
              <i class="fa fa-cogs"></i>
              <span>Ayarlar</span>
              </a>
           
          </li>
    

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
