<%- include('./partials/header'); %>

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
            <div class="col-md-12">
                <section class="task-panel tasks-widget">
                  <div class="panel-heading">
                    <div class="pull-left">
                      <h5><i class="fa fa-tasks"></i> Alarmlar</h5>
                    </div>
                    <br>
                  </div>
                  <div class="panel-body">
                    <div class="task-content">
                      <ul class="task-list">
                        <li>
                         
                          <div class="task-title">
                            <span class="task-title-sp">Alarm</span>
                            
                            <div class="pull-right hidden-phone">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                          </div>
                        </li>
                        <li>
                          
                          <div class="task-title">
                            <span class="task-title-sp">Siren</span>
                         
                            <div class="pull-right hidden-phone">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                          </div>
                        </li>
                        <li>
                         
                          <div class="task-title">
                            <span class="task-title-sp">Hareket</span>
                            
                            <div class="pull-right hidden-phone">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                          </div>
                        </li>
                        <li>
                          
                          <div class="task-title">
                            <span class="task-title-sp">Klima</span>
                           
                            <div class="pull-right hidden-phone">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                          </div>
                        </li>
                        <li>
                          
                          <div class="task-title">
                            <span class="task-title-sp">Gaz Kontrol</span>
                            
                            <div class="pull-right">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class=" add-task-row">
                      <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Kaydet</a>
                    </div>
                  </div>
                </section>
              </div>
          </div>
          <!-- /col-md-12 -->
        </div>
          
           
              
      </section>
      
    </section>

    <%- include('./partials/footer'); %>