
<%- include('./partials/header'); %>

    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt">
              <div class="col-lg-12">
                <div class="row content-panel">
                  <!-- /col-md-12-->
                  <div class="col-md-12 centered">
                    <div class="profile-pic">
                      <p><img src="img/ui-sam.jpg" class="img-circle"></p>
                      <p>
                        <button class="btn btn-theme02"><i class="fa fa-camera"></i> Fotoğraf Ekle</button>
                      </p>
                    </div>
                  </div>
        
                </div>
                <!-- /row -->
              </div>
           
         
              <!-- BASIC FORM VALIDATION -->
              <div class="row mt">
                <div class="col-lg-12">
                  <h4><i class="fa fa-angle-right"></i> Kişisel Bilgilerim</h4>
                  <div class="form-panel">
                    <form role="form" class="form-horizontal style-form">
                      <div class="form-group has-success">
                        <label class="col-lg-2 control-label">İsim</label>
                        <div class="col-lg-10">
                          <input type="text" placeholder="İsminizi Giriniz" id="f-name" class="form-control">
                   
                        </div>
                      </div>
                      <div class="form-group has-warning">
                        <label class="col-lg-2 control-label">Soyisim</label>
                        <div class="col-lg-10">
                          <input type="text" placeholder="Soyisminizi Giriniz" id="l-name" class="form-control">
                        
                        </div>
                      </div>
                      <div class="form-group has-error">
                        <label class="col-lg-2 control-label">Telefon</label>
                        <div class="col-lg-10">
                          <input type="text" placeholder="Telefon Giriniz" id="l-name" class="form-control">
                        
                        </div>
                      </div>
                      <div class="form-group has-warning">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                          <input type="email" placeholder="Email Giriniz" id="email2" class="form-control">
                         
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <button class="btn btn-theme" type="submit">Kaydet</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /form-panel -->
                </div>
                <!-- /col-lg-12 -->
              </div>



              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </section>
      
    </section>

  </section>

<%- include('./partials/footer'); %>