<%- include('../partials/header'); %>

<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Alarm Detay </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>Alarm Sensör Detayı</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Geçmiş CihazID</th>
                    <th>Geçmiş SensorID</th>
                    <th>Adı</th>
                    <th>Durumu</th>
                    <th>Geçmiş Tarih</th>
                    <th>Oluşturma Tarih</th>
                    <th>Değiştirme Tarih</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /col-md-12 -->
 
</section>
      
</section>
  <%- include('../partials/footer'); %>